input[type="submit"],
input[type="reset"],
button {
  @include fill-parent;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 100;
  border-radius: 0.5em;
  border: none;
  padding: 0;
  @include transition(background-color 200ms linear);
  height: 1.5em;
  line-height: 1;
  &:not(:first-child) {
    margin-top: 1em;
  }
}

input[type="submit"], button {
  background-color: $border-color;
  &:hover {
    background-color: $border-focus-color;
  }
}

input[type="reset"] {
  background-color: $border-invalid-color;
}

fieldset {
  & button:first-child,
    input[type="submit"]:first-child,
    input[type="reset"]:first-child {
      border-radius: 0.5em 0 0 0.5em;
  }
  & button:last-child,
    input[type="submit"]:last-child,
    input[type="reset"]:last-child {
      border-radius: 0 0.5em 0.5em 0;
  }
  & button:not(:first-child):not(:last-child),
    input[type="submit"]:not(:first-child):not(:last-child),
    input[type="reset"]:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  & .half {
    width: 50%;
  }
  & .one-third {
    width: 33.33%;
  }
  & .one-quarter {
    width: 25%;
  }
  & .two-thirds {
    width: 66.67%;
  }
  & .three-quarters {
    width: 75%;
  }
}
